body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#puzzle-container {
    width: 100%;
    height: 100%;
    position: relative;
    /* position: absolute; */
    text-align: center;
    border: 1px solid black;
    z-index: 10;

}

#button-container {
margin: 5px;

}
.Button_not{
    padding:10px;
    display: block; /* 确保整个按钮区域可点击 */
    cursor: pointer;
}

.puzzle-piece {
    width: 297.22px;
    height: 396.28px;
    cursor: grab;
    position: absolute;

}

/* Darken the image slightly on hover */
.puzzle-piece:hover {
    filter: brightness(0.6); /* Reduce brightness to make the image appear darker */
}


#P-bg {
    height: 396.28px;
    width: 297.22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: -1;
}