body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#puzzle-container {
    width: 90%;
    height: 100%;
    position: relative;
    /* position: absolute; */
    text-align: center;
    border-style: dotted;
    border-width: thick;
    border-color: #7ccfcd;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 10;

}

/* Overlay styling to center button and add background dim */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("Test_element/gameStartBG.jpg");
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Semi-transparent background */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* Button styling */
.Button_not {
    padding: 15px 30px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #7ccfcd;
    /* Button color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Button hover effect */
.Button_not:hover {
    background-color: #0056b3;
}

/* Hidden class to hide the overlay */
.hidden {
    display: none;
}



#button-container {
    margin: 5px;

}

.Buttons {
    padding: 10px;
    display: block;
    cursor: pointer;
    width: 100%; /* Each button will fill the container width */
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
}



.puzzle-piece {
    width: 297.22px;
    height: 396.28px;
    cursor: grab;
    position: absolute;

}
#piece8{
    z-index:-8;
    cursor: grab;
    position: absolute;
}

/* Darken the image slightly on hover */
.puzzle-piece:hover {
    filter: brightness(0.6);
    /* Reduce brightness to make the image appear darker */
}


/*#P-bg {
    height: 396.28px;
    width: 297.22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: -1;
}*/